@* @model List<Product> *@
@model ProductViewModel


@{
    var popularClass = Model.Products.Count > 2 ? "popular" : "";
    var products = Model.Products;
    
}

@section Categories{
    @await Component.InvokeAsync("Categories")
}


@if (@products.Count == 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                @await Html.PartialAsync("_noproduct")
            </div>
        </div>
    </div>
}
else{
        <div class="row">
    
            @foreach (var product in products)
            {
                <div class="col-md-3">
                    @await Html.PartialAsync("_product",product) 
                </div>                      
            }
        
        </div>
}
