<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="display-4">Shop App</div>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam architecto ratione odit deleniti sint corporis provident sed nam. Mollitia voluptatum sit consequatur repellendus laborum, porro architecto repudiandae eos ut delectus!</p>
        </div>
    </div>
</header>