@model Product


<div class="card">
    <img src="https://lh3.googleusercontent.com/proxy/b2Xnt_dmB7xvYdIFI01pv6WCxYmxX3D0Vvu0ErDSnMkjCNWaZG4IhrCoCmbBBcUy3lPwCKYoc86Bun7qjm6A0tiw63gzLUnOGWRe0HxqOD8" class="card-image-top" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <a href="" class="btn btn-primary">İncele</a>
    </div>
</div>  
   